@model IEnumerable<U2_W1_D5_Homework_Backend.Models.Verbale>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="d-flex align-items-center">
        <input type="text" name="punti" class="form-control" /><input type="submit" value="Filtro Punti" class="btn btn-primary ms-2" />
    </div>
    <table class="table table-striped table-hover table-primary mt-2">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDAnagrafica.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDAnagrafica.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataViolazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DecurtamentoPunti)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDAnagrafica.Cognome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDAnagrafica.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataViolazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DecurtamentoPunti)
                </td>
            </tr>
        }

    </table>
}